<main class="TodoMain">
    <article>
        <h1 class="TodoPage__title"> My To-do List </h1>
        <form class="Todo"
              action="/todos"
              method="POST"
        >
            <input type="text"
                   class="Todo__text" 
                   placeholder="What’s next?" 
                   name="todo_text"
            >
            <input type="date" class="Todo__date" value="date" name="due_date">
            <input type="submit" class="Todo__add" value="Add">
        </form>

        <%= render partial: "todo-section" ,locals: {
            section_title: "Overdue",
            todos: Todo.overdue,
            completed_count: 0,
            total_count: (Todo.overdue.count - Todo.overdue.completed.count),
            show_date: true,
        } %>

        <%= render partial: "todo-section" ,locals: {
            section_title: "Due Today",
            todos: Todo.due_today,
            completed_count: Todo.due_today.completed.count,
            total_count: Todo.due_today.count,
            show_date: false,
        } %>


        <%= render partial: "todo-section" ,locals: {
            section_title: "Due later",
            todos: Todo.due_later,
            completed_count: Todo.due_later.completed.count,
            total_count: Todo.due_later.count,
            show_date: true,
        } %>
       
    </article>
</main>